doctype 5
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/monitor.css')
    script(type='text/javascript', src='/js/jquery-1.8.2.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/core.js')
    block header
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href='/') Proteus Monitor
          div.nav-collapse.collapse
            ul.nav
              li#nav-stats
                a(href='/stats') stats
    div.container
      block content
    div.modal.hide.fade#modal
