body {
	padding-top: 60px;
}

table.stat-group {
	font-family: monospace;
	font-size: 85%;
}

table.stat-group th {
	text-align: center;
	background: #eee;
}
table.stat-group td {
	height: 18px;
}
table.stat-group thead th button {
	margin-right: 10px;
}
table.stat-group thead th.name {
	text-align: left;
}

canvas {
	padding: 0;
	margin: 0;
}

td.name {
	width: 250px;
}
td.name span {
	display: block;
	float: left;
}
td.name span.host {
	width: 140px;
}
td.name span.address {
	width: 110px;
}

td.cpu, td.memory {
	padding: 5px 5px 0 5px;
	margin: 0;
	width: 100px;
}
td.load {
	padding: 5px 5px 0 5px;
	width: 50px;
}

td.load {
	width: 50px;
	text-align: right;
}

td.disk, td.network {
	width: 90px;
}

td.disk span, td.network span {
	display: block;
	float: left;
	text-align: right;
	width: 45px;
}
td.disk span.read {
	color: #009;
}
td.disk span.write {
	color: #900;
}	

td.network span.recv {
	color: #069;
}
td.network span.send {
	color: #960;
}

td.process span {
	display: block;
	float: left;
	color: #fff;
	font-weight: bold;
	border-radius: 4px;
	background: #000;
	margin: 0 4px 0 0;
	padding: 0 4px;
}
td.process span.success {
	background-color: #5f7e64;
}
td.process span.warn {
	background-color: #fea26e;
}
td.process span.fail {
	background-color: #fe615b;
}

