body {
	padding-top: 60px;
}

table.stat-group {
	font-family: monospace;
	font-size: 85%;
}

table.stat-group th {
	text-align: center;
	background: #eee;
}
table.stat-group td {
	height: 18px;
}
table.stat-group thead th button {
	margin-right: 10px;
}
table.stat-group thead th.name {
	text-align: left;
}

.modal-body {
	max-height: 800px;
}
#modal {
	width: 800px;
	margin: -250px 0 0 -400px;
}

canvas {
	padding: 0;
	margin: 0;
}

td.name {
	width: 250px;
}
td.name span {
	display: block;
	float: left;
}
td.name span.host {
	width: 140px;
}
td.name span.host a {
	color: #369;
	cursor: pointer;
}
td.name span.address {
	width: 110px;
}

td.cpu, td.memory {
	padding: 5px 5px 0 5px;
	margin: 0;
	width: 100px;
}
td.load {
	padding: 5px 5px 0 5px;
	width: 50px;
}

td.load {
	width: 50px;
	text-align: right;
}

td.disk, td.network {
	width: 90px;
}

td.disk span, td.network span {
	display: block;
	float: left;
	text-align: right;
	width: 45px;
}
td.disk span.read {
	color: #009;
}
td.disk span.write {
	color: #900;
}	

td.network span.recv {
	color: #069;
}
td.network span.send {
	color: #960;
}

td.process span {
	display: block;
	float: left;
	color: #fff;
	font-weight: bold;
	border-radius: 4px;
	background: #000;
	margin: 0 4px 0 0;
	padding: 0 4px;
}
td.process span.success {
	background-color: #5f7e64;
}
td.process span.warn {
	background-color: #fea26e;
}
td.process span.fail {
	background-color: #fe615b;
}

div#modal {
}
div#host-detail h5 {
	padding: 0;
	margin: 5px 0 0 0;
}
div#host-detail section.cpu div.cpu-unit {
	width: 32px;
	float: left;
	padding: 0 4px;
}
div#host-detail section.cpu div.cpu-unit span {
	display: block;
	text-align: center;
	font-size: 70%;
	height: 18px;
}
div#host-detail section.load div.load-unit {
	width: 110px;
	float: left;
}
div#host-detail section.load div.load-unit span {
	text-align: center;
	display: block;
	font-size: 70%;
	height: 18px;
}
div#host-detail section table {
	margin-bottom: 5px;
}
div#host-detail section.net div.net-unit,
div#host-detail section.disk div.disk-unit {
	width: 110px;
	margin-right: 10px;
	float: left;
}
div#host-detail section.net div.net-unit th,
div#host-detail section.disk div.disk-unit th {
	font-size: 80%;
	padding: 2px;
	text-align: center;
}
div#host-detail section.net div.net-unit td span,
div#host-detail section.disk div.disk-unit td span {
	display: block;
	float: left;
	text-align: right;
	width: 45px;
}
div#host-detail section.net div.net-unit td span.receive,
div#host-detail section.disk div.disk-unit td span.read {
	color: #00a;
}
div#host-detail section.net div.net-unit td span.send,
div#host-detail section.disk div.disk-unit td span.write {
	color: #a00;
}


.clearfix {zoom:1;}
.clearfix:after {
  content: ""; 
  display: block; 
  clear: both;
}
